<% layout("/layouts/boilerplates.ejs") %>
<% block("title" , "Edit Listings") %>

<body>
    <div class="row">
        <div class="col-8 offset-2 mt-3" style="padding: 20px;">
        <br>
            <h3><b>Edit Your Listing...</b></h3>
            <br><br>
            <form enctype="multipart/form-data" method="POST" action="/listing/<%= listingById._id %>?_method=PUT" novalidate class="needs-validation">
                <div class="mb-3">
                    <label for="title" class="form-label" class="from-label"">Title</label>
                    <input id="title" required type="text" class="form-control" name="listing[title]" value="<%= listingById.title %>">
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please enter a title.</div>
                </div>
                <br>
                <br>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea id="description"  required class="form-control" name="listing[description]" ><%= listingById.description %></textarea>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please enter a description.</div>
                </div>
                <br>
                <br>
                <div class="mb-3">
                    <p>Original Listing Image:</p>
                    <img src="<%= originalImgUrl %>"  >
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload New Image</label>
                    <input 
                        type="file" 
                        id="image"  
                        required class="form-control" 
                        name="listing[image]" 
                        value="<%= listingById.image %>"
                    />
                </div>
                <br>
                <br>
                <div class="mb-3">
                    <label for="prize" class="form-label">Prize</label>
                    <input type="Number" id="prize" required class="form-control" name="listing[prize]" value="<%= listingById.prize %>">
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please enter a Prize.</div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="mb-3 col-md-6">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" id="location" required class="form-control" name="listing[location]" value="<%= listingById.location %>">
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please enter a Location.</div>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" id="country" required class="form-control" name="listing[country]" value="<%= listingById.country %>">
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please enter a country.</div>
                    </div>
                </div>
                <br>
                <br>
                <div class="mb-3">
                    <label for="category" class="form-label">Category</label>
                    <select name="listing[category]" id="category" class="form-control" required>
                        <!-- Yahan listingById use hoga kyunki edit route se yahi variable aata hai -->
                        <option value="trending" <%= listingById.category === 'trending' ? 'selected' : '' %>>Trending</option>
                        <option value="iconic cities" <%= listingById.category === 'iconic cities' ? 'selected' : '' %>>Iconic Cities</option>
                        <option value="mountains" <%= listingById.category === 'mountains' ? 'selected' : '' %>>Mountains</option>
                        <option value="castles" <%= listingById.category === 'castles' ? 'selected' : '' %>>Castles</option>
                        <option value="amazing pools" <%= listingById.category === 'amazing pools' ? 'selected' : '' %>>Amazing Pools</option>
                        <option value="farms" <%= listingById.category === 'farms' ? 'selected' : '' %>>Farms</option>
                        <option value="others" <%= listingById.category === 'others' ? 'selected' : '' %>>Others</option>
                    </select>
                    <div class="invalid-feedback">Please select a category.</div>
                </div>
                <br>
                <button class="btn btn-dark add-btn w-100">Edit</button>
            </form>
        </div>
    </div>
</body>
