<% layout("/layouts/boilerplates.ejs") %>
    <% block("title" ,"All Listings") %>
    
        <body>
           
            <!-- <h3 class="text-center mt-3 mb-3">All Listings</h3> -->
            <style>
                .filter-bar {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 2rem; /* Ensures a minimum gap of 2rem between items */
                    position: sticky;
                    top: 80px;
                    background-color: white;
                    z-index: 10;
                    padding: 8px 2rem;
                    border-bottom: 1px solid #f0f0f0;
                }
                #filters{
                    display:flex;
                    flex-wrap: nowrap; /* Items ko ek hi line mein rakhega */
                    overflow-x: auto; /* Horizontal scroll enable karega */
                }
                .filter{
                    text-align: center;
                    margin-right: 2rem;
                    margin-top: 1.5rem;
                    opacity:0.7;
                }
                .filter:hover{
                    opacity:1;
                    cursor: pointer;
                }
                .filter p {
                    font-size:0.8rem;
                }
                #filters a{
                    text-decoration: none;
                    color:inherit;
                }
                
                .tax-toggle{
                    border: 1px solid #e0e0e0; /* Halki border */
                    padding: 0.5rem 1rem; /* Sahi padding */
                    border-radius: 12px;
                }
                .taxInfo{
                    display: none;
                }
            </style>

            <div class="filter-bar">
                <div id="filters">

                    <a href="/listing">
                        <div class="filter">
                            <div>
                                <i class="fa-solid fa-globe"></i>
                                <p>All</p>
                            </div>
                        </div>
                    </a>

                    <a href="/listing?category=trending">
                        <div class="filter">
                            <div>
                                <i class="fa-solid fa-fire"></i>
                                <p>Trending</p>
                            </div>
                        </div>
                    </a>

                    <a href="/listing?category=iconic cities">
                        <div class="filter">
                            <div>
                                <i class="fa-solid fa-mountain-city"></i>
                                <p>Iconic Cities</p>
                            </div>
                        </div>
                    </a>

                    <a href="/listing?category=mountains">
                        <div class="filter">
                            <div>
                                <i class="fa-solid fa-mountain"></i>
                                <p>Mountains</p>
                            </div>
                        </div>
                    </a>

                    <a href="/listing?category=castles">
                        <div class="filter">
                            <div>
                                <i class="fa-solid fa-chess-rook"></i>
                                <p>Castles</p>
                            </div>
                        </div>
                    </a>

                    <a href="/listing?category=camping">
                        <div class="filter">
                            <div>
                                <i class="fa-solid fa-campground"></i>
                                <p>Camping</p>
                            </div>
                        </div>
                    </a>

                    <a href="/listing?category=amazing pools">
                        <div class="filter">
                            <div>
                                <i class="fa-solid fa-person-swimming"></i>
                                <p>Amazing Pools</p>
                            </div>
                        </div>
                    </a>

                    <a href="/listing?category=farms">
                        <div class="filter">
                            <div>
                                <i class="fa-solid fa-cow"></i>
                                <p>Farms</p>
                            </div>
                        </div>
                    </a>

                    <a href="/listing?category=others">
                        <div class="filter">
                            <div>
                                <i class="fa-solid fa-shuffle"></i>
                                <p>Others</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="tax-toggle">
                    <div class="form-check form-switch form-check-reverse d-flex align-items-center gap-2">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
                    </div>
                </div>
            </div>

            <!--<form action="/listing/new" method="GET">
                        <button>Create New Listing</button>
            </form> -->

            <div class="row row-cols-lg-3 row-cols-md-3 mt-3 row-cols-sm-1 row-cols-1 justify-content-center">
                <% for(let listing of allListings){ %>
                    <div class="card col listing-card" style="width: 20rem;">
                        <a href="/listing/<%= listing._id %>">
                            <img src="<%= listing.image.url %>" class="card-img-top" alt="Listing image"
                                style="height: 20rem;">
                        </a>
                        <!-- <div class="card-img-overlay">abcd</div> -->
                        <div class="card-body">
                            <p class="card-text"><b>
                                    <%= listing.title %>
                                </b> <br>
                                <b>&#8377;<%= listing.prize.toLocaleString("en-IN") %>/night</b>
                                <i class="taxInfo">&nbsp;+18% GST</i>
                                <br>
                                <i>
                                    <%= listing.description %>
                                </i>
                            </p>
                        </div>
                    </div>
                    <% } %>
            </div>

            <!-- to print all listing => -->
            <!-- <ul>
                        <% for(let listing of allListings){ %>
                            <li><a href="/listing/<%=listing._id%>">
                                    <%= listing.title %>
                                </a></li>
                            <% } %>
                    </ul> -->
        </body>



<script>
    let taxSwitch = document.getElementById("flexSwitchCheckDefault");
    taxSwitch.addEventListener("click",()=>{
        let taxInfo = document.getElementsByClassName("taxInfo");
        for(info of taxInfo){
            if(info.style.display != "inline"){
                info.style.display = "inline";
            }else{
                info.style.display = "none";
            }
        }
    });
</script>